<?xml version="1.0" encoding="UTF-8"?>
<config version="1.0">
	<propertyGroup name="global">
	</propertyGroup>
	<propertyGroup name="prefs">
		<property name="fullscreen">false</property>
		<property name="scrWidth">640</property>
		<property name="scrHeight">480</property>
		<property name="fps">60</property>
	</propertyGroup>
	<propertyGroup name="game">
		<property name="tileWidth">16</property>
		<property name="tileHeight">16</property>
	</propertyGroup>
</config>